.first #bold{
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
     text-decoration: none;
      
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
     font-weight:bold;
     font-size: 30px;
     color: blue;

}
img #ap{
    padding-left:20px;
}
.first{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    border-radius: 10px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.first h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.first h3{
    font-style: italic;
}
.first h2{
    font-style: italic;
}
.second{
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

    border-radius: 10px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.second h1{
    font-style:italic;
    
}
.third{
    background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);


    border-radius: 10px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.third h1{
    font-style:italic;
}
.fourth{
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    border-radius: 10px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.second .train{
    font-size: 30px;
    color:red;
    
}